<div class="banner-container">
    <img class="banner" src="../../assets/images/mosquito-banner3.jpg" alt="mosquitoe banner">
    <div class="container-action">
        <h1>Mosquitoes are a health risk and a nuisance!</h1>
        <h2>Mosquitoes breeds in standing water.</h2>
        <p class="text">There are few easy actions that anybody can take to suppress mosquitoes around their house and their neighborhood.</p>
        <p class="text">It is the responsibility of everybody to promote an healthier environment.</p>
        <button class="action-call" (click)='onActionCallClicked()'>Learn More!</button>
        <!-- <div class="action-call" (click)='onActionCallClicked()'>Remove Mosquitoes Habitat</div> -->
    </div>
</div>
<h2 class="fact-title">Did you know?</h2>
<app-facts></app-facts>
