<div class="card" >
    <div [ngClass]="{'container-left':positionLeft() == true,'container-right':positionLeft() == false }">
        <img class="image" src={{card.image}} [ngClass]="{'order-1':positionLeft() == true,'order-2':positionLeft() == false }" alt={{card.imageAltText}}>
        <div class="text-container" [ngClass]="{'order-1':positionLeft() == false,'order-2':positionLeft() == true }">
            <h1 class="title">{{card.title}}</h1>
            <div class="text">{{card.text1}}</div>
            <div class="text">{{card.text2}}</div>
            <div class="text">{{card.text3}}</div>
        </div>
    </div>    
</div>