<div class='tab-bar'>
    <div [ngClass] = "tabName == 'home' ? 'tabs tabs-clicked' : 'tabs tabs-not-clicked'" (click)='onTabClicked("home")'>Home <img [ngClass]="clickedOnHome == true ? 'insect-show' : 'insect-hide'" src="../assets/images/mosquitoe-vector.png"></div>
    <div [ngClass] = "tabName =='habitat' ? 'tabs tabs-clicked' : 'tabs tabs-not-clicked'" (click)='onTabClicked("habitat")'>Remove Mosquitoes Habitat <img [ngClass]="clickedOnHabitat == true ? 'insect-show' : 'insect-hide'" src="../assets/images/mosquitoe-vector.png"></div>
    <div [ngClass] = "tabName == 'facts' ? 'tabs tabs-clicked' : 'tabs tabs-not-clicked'" (click)='onTabClicked("facts")'>Interesting Facts <img [ngClass]="clickedOnFacts == true ? 'insect-show' : 'insect-hide'" src="../assets/images/mosquitoe-vector.png"></div>
    <div [ngClass] = "tabName == 'links' ? 'tabs tabs-clicked' : 'tabs tabs-not-clicked'" (click)='onTabClicked("links")'>Ressources and Links <img [ngClass]="clickedOnLinks == true ? 'insect-show' : 'insect-hide'" src="../assets/images/mosquitoe-vector.png"></div>
</div>
