.tab-bar{
    display: flex;
    justify-content: flex-end;
    text-align: center; 
    align-items: center;
    padding: 0px 10px 0px 10px;
    // background-color:	rgb(200,200,200, 0.2);
    background-color:	#49654C;

    .tabs{
        padding: 10px;
        border-radius: 2px;
        font-size: 19px;
        cursor:pointer;
    }
    .tabs:active {
        box-shadow: 0 2px #666;
        transform: translateY(2px);
        transition-duration: 0.1s;
        border-bottom: 1px solid #253628;
      }

    .tabs-not-clicked:hover {
        color:  #EBEBE9;
    }

    .tabs-clicked {
        color: #EBEBE9;
        border-bottom: 5px solid  #253628;
    }

    .insect-show {
        animation-name: insect;
        animation-duration: 4s;
        position: relative;
        left:-10px;
        visibility:visible;
    }

    .insect-hide {
        visibility: hidden;
    }

    @keyframes insect {
        0%   { left:0px; top:0px; }
        10%  { left:-10px; top:-10px; }
        25%  { left:50px; top:-35px;}
        35%  { left:30px; top:0px;}
        50%  { left:20px; top:-40px;}
        75%  { left:35px; top:-75px;}
        100% { left:70px; top:-80px; opacity:0;}
      }
}