@import '../../styles/media-queries.scss';

.image-container {
    position: relative;
}

.image {
    width: 100%;
    object-fit: contain;
    display: block;
}

.section{
    position: absolute;
    border-radius: 6px;
    background-color: rgb(200,200,200, 0.6);
    box-shadow: 4px 4px #666;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

}

.section:focus{
  box-shadow: 0 0 1pt 3pt #253628;
  outline: none
}

.section:hover {
    background-color: rgb(200,200,200, 0);
    border: 1px solid #253628;
}

.section:active {
    box-shadow: 2px 2px #666;
    transform: scale(0.95,0.95);
    transition-duration: 0.1s;
}

.text {
    font-family: Lato;
    font-size: 22px;
    color:#253628;
    font-weight:600;
    position: absolute;
    padding-left: 8px;;
    top:0;
}
