/* You can add global styles to this file, and also import other style files */
body{
        background-color:#E3E6DA;
        margin: 0px;
        font-family: Raleway;
}
.no-scroll {
        overflow: hidden;
}
